header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  background-color: #4caf50;
}

header a {
  color: black;
  text-decoration: none;
}

header img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  border: 0.1px solid rgb(74, 73, 73);
}

header h2 {
  margin-left: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logout-button {
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #07670a;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #0b7f0e;
}
