.home {
  margin: 0 auto;
  & a {
    text-decoration: none;
    color: black;
  }

  &__heading {
    padding: 10px;
  }

  &__bookList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;

    &--heading {
      font-size: 30px;
    }

    &--title {
      list-style: none;

      & li {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      padding: 5px 13px;
      border-radius: 5px;
      background-color: #07670a;
      color: white;
      border: none;
      margin: 0 3px;
    }
    & button:hover {
      cursor: pointer;
      background-color: #0b7f0e;
    }
  }
}

.create-review-link {
  margin-left: auto;
  margin-right: 150px;
  padding: 8px 13px;
  border-radius: 5px;
  border: none;
  background-color: #07670a;
  color: white;
}

.create-review-link:hover {
  cursor: pointer;
  background-color: #0b7f0e;
}
