.home {
  margin: 0 auto;
  & a {
    text-decoration: none;
    color: black;
  }

  &__heading {
    padding: 10px;
  }

  &__bookList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;

    &--heading {
      font-size: 30px;
    }

    &--title {
      list-style: none;
      margin-bottom: 10px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  background-color: #4caf50;
}

header a {
  color: black;
  text-decoration: none;
}

header img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  border: 0.1px solid rgb(74, 73, 73);
}

header h2 {
  margin-left: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logout-button {
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #07670a;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #0b7f0e;
}

.create-review-link {
  margin-left: auto;
  margin-right: 150px;
  padding: 8px 13px;
  border-radius: 5px;
  border: none;
  background-color: #07670a;
  color: white;
}

.create-review-link:hover {
  cursor: pointer;
  background-color: #0b7f0e;
}
